{% extends 'layout.html.twig' %}

{% block rightbox %}

Development Menu Only

<br>

<a href='{{ url_for("routelist") }}' >ROUTELIST</a>

<br>

<a href='{{ url_for("loggedout") }}' >LOGGEDOUT</a>

<br>

<a href='{{ url_for("test") }}' >TEST</a>




<br><br>
require 'routes/loggedout.php';
require 'routes/homepage.php';
require 'routes/routelist.php';
require 'routes/processlogin.php';
require 'routes/processregistration.php';
require 'routes/register.php';
require 'routes/lostpassword.php';
require 'routes/processlostpassword.php';
require 'routes/test.php';
require 'routes/userlist.php';
require 'routes/cohortlist.php';

{% endblock %}